@use "variables" as *;
@use "mixins" as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: sans-serif, "Raleway";
  font-weight: 400;
  background-color: hsl(218, 28%, 13%);
}

/* Start Container */
.container {
  padding: 0 20px;
  margin: 0 auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Container*/
h1,
h2,
h3,
a,
p {
  color: $White;
}
h1,
h2,
h3,
.cta {
  font-family: "Raleway", sans-serif;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: $White;
  white-space: nowrap;
}
input {
  // border: 1px solid $VeryDarkCyan;
  border: none;
  border-radius: 2px;
  border-radius: 30px;
  padding: 10px;
  caret-color: auto;
  outline: none;
  width: 70%;
  @include breakpoint-down(small) {
    width: 100%;
    border-radius: 30px;
    margin-bottom: 15px;
  }
}
.flex {
  display: flex;
}
.center {
  justify-content: center;
  align-items: center;
}

// Hide and show helper classes
.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}
.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
